<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="/resources/css/login.css" type="text/css">
    <%- include("../fragments/head") %>
</head>
<body >
    <header>
        <%- include("../fragments/header") %>
    </header>
    <main>
        <div class="form-contain">
            <form id="form_reset"  method="post" class="date"  action="/new_password"  enctype="multipart/form-data">
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="email" value="<%= email %>">



                <p class="p-design">
                    <label class="label-design">
                        New password: <input class="inp-design" type="password" name="password" id="inp-email" value="">
                    </label>
                </p>
                <p class="p-design">
                    <label class="label-design">
                        Repeat password: <input class="inp-design" type="password" name="repeat" id="inp-email" value="">
                    </label>
                </p>
                <p><input class="btn btn-outline-success" type="submit" value="Update"></p>
            </form>
        </div>
    </main>

    <%- include("../fragments/footer") %>
</body>
</html>
