<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - utilizatori.">
		<script type="text/javascript" src=/resources/js/useri.js></script>
        <link rel="stylesheet" href="/resources/css/useri.css" type="text/css" />
        <title>Cofetăria Dulcelind - utilizatori</title>
        <%- include("../fragments/head") %>     
    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
    <div class="afisaj">
        <h2>Useri</h2>

		<table id="useri">
		  <tr>
			<th>id</th><th>Username</th><th>Nume</th><th>Prenume</th><th>Data</th><th>Rol</th><th>Blocat</th><th>Optiune blocare/deblocare</th>
		  </tr>

		  <% for (var i = 0; i < useri.length; i++) { 
				if(useri[i].rol=="comun"){
				%>
				<tr>
				  <td><%= useri[i].id %></td>
				  <td><%= useri[i].username %></td>
				  <td><%= useri[i].nume %></td>
				  <td><%= useri[i].email %></td>
				  <%  
					d=new Date(useri[i].data_adaugare)
					sir_data=`${d.getDate()}/${d.getMonth()}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`
				  %>
				  <td><%=  sir_data %></td>
				   <td><%=  useri[i].rol %></td>
				   <td><%= useri[i].confirmat_email ? 'Nu' : 'Da' %></td>
				   <td>
                    <button type="button" style="font-size: 15px;color: green;" data-id="<%= useri[i].id %>" onclick="unblock(this)">Deblocheaza</button> /
                    <button type="button" style="font-size: 15px;color: red;" data-id="<%= useri[i].id %>" onclick="block(this)">Blocheaza</button>
                </td>
				</tr> 
				
				<% } %>			
		  <% } %>
		</table>
		
		<p>Sterge utilizator</p>
		<form id="sterge" method="post" action="/sterge_utiliz">
			<label>
				Id: <input type="text" name="id_utiliz" value="">
			</label>
			
			<input type="submit" value="Submit">
		</form>
	</div>
</main>


    <%- include("../fragments/footer") %>

</body>
</html>